body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid gray;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 10%;
    float: left;
    margin-top: 13px;
}

.menu {
    width: 40%;
    float: right;
}

.menu ul {
    list-style: none;
    float: right;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: rgb(7, 7, 68);
}

.menu ul li a:hover {
    background-color: rgb(7, 7, 68);
    color: white;
}

.logo a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: rgb(7, 7, 68);
    font-size: 30px;
    text-decoration: none;
}

.que {
    font-size: 40px;
}


/* header end */

.banner {
    /* border: 1px solid black; */
    padding: 50xp 0;
}

.container2 {
    width: 70%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.b_cont {
    text-align: center;
}

.b_cont h1 {
    font-size: 55px;
    margin: 0 90px;
    line-height: 75px;
    color: rgb(7, 7, 68);
    font-family: Arial, Helvetica, sans-serif;
}

.b_cont h1 span {
    color: rgb(0, 161, 224);
}

.b_cont p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 48px 30px;
    font-size: 16px;
    line-height: 22px;
}

.b_img {
    width: 60%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.b_img img {
    width: 100%;
}

.success {
    padding: 50px 0;
}

.s_content {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.s_left {
    width: 40%;
    float: left;
    padding: 10px 20px 10px 30px;
    text-align: right;
}

.s_left h2 {
    font-size: 45px;
    color: rgb(7, 7, 68);
    margin: 0;
}

.s_left p {
    line-height: 25px;
    font-size: 19px;
    color: rgb(4, 4, 46);
}

.s_right {
    width: 50%;
    float: right;
    padding: 10px 20px 10px 10px;
}

.s_right h1 {
    font-size: 52px;
    color: rgb(7, 7, 68);
    margin-top: -5px;
}

.creativ {
    /* border: 1px solid black; */
    padding: 50xp 0;
}

.c_content {
    /* border: 1px solid black; */
}

.c_single {
    width: 28.5%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 17px 40px;
    background-color: rgb(248, 234, 242);
    margin-right: 30px;
}

.c_single:last-child {
    margin-right: 0px;
}

.c_single h2 {
    margin-top: 45px;
}

.c_img {
    width: 100%;
    height: 240px;
}

.c_img img {
    width: 100%;
}

.foot {
    width: 100%;
    height: 80px;
    background-color: rgb(7, 7, 68);
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.foot p {
    position: relative;
    bottom: -27px;
    text-align: center;
}